.App {
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}
fieldset {
  background-color: rgb(121, 193, 235);
 
}

form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
